@import "variables";
@import "navbar";

.subIntro{
    .subHeading{
        font-size: $subFontSize;
        color: $subFontColor;
        text-align: center;
    }
    .paraText{
        font-size:$subParaSize;
        font-weight: bold;
        color: $subParaColor;
        justify-content: center;
    }
    .linkText{
        font-size:$subParaSize;
        font-weight: bold;
    }
    .subIntroImages{
        height: $subImageHeight;
        width: $subImageWidth;
        margin: 0px 0px 0px 400px;
    }
    .subContent{
        font-size: $subConFontSize;
        color: $subConFontColor;
    }
}
.linkText{
    a{
        text-decoration: none;
    }
}