$mainHeadingColor:red;
$mainHeadingHeight:100px;
$mainHeadingTextAlign:center;
$mainHeadingWidth:200px;
$mainHeadingBorder:1px solid blue;
$mainFontSize:100px;
$mainFontWeight:bolder;
$mainBackColor:rgb(59, 224, 147);
$hoverColor:crimson;
$borderColor:2px solid black;

// subHeading
$subFontSize:40px;
$subFontColor:blue;
$subParaSize:30px;
$subParaColor:brown;
$subImageHeight:300px;
$subImageWidth:600px;

// subContent
$subConFontSize:30px;
$subConFontColor:brown;

