.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  color: blue;
  font-size: 40px;
  margin-top: 10px;
  padding: 5px 0px 5 px 0px;
  text-align: center;
  border: 2px solid black;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: crimson;
  background-color: skyblue;
}

.mainDiv .navImages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22.67% 21% 30% 30%;
      grid-template-columns: 22.67% 21% 30% 30%;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
}

.mainDiv .navImages #img1 {
  height: 333px;
  width: 400px;
}

.mainDiv .navImages #img4 {
  height: 333px;
  width: 380px;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  color: blue;
  font-size: 40px;
  margin-top: 10px;
  padding: 5px 0px 5 px 0px;
  text-align: center;
  border: 2px solid black;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: crimson;
  background-color: skyblue;
}

.mainDiv .navImages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22.67% 21% 30% 30%;
      grid-template-columns: 22.67% 21% 30% 30%;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
}

.mainDiv .navImages #img1 {
  height: 333px;
  width: 400px;
}

.mainDiv .navImages #img4 {
  height: 333px;
  width: 380px;
}

.subIntro .subHeading {
  font-size: 40px;
  color: blue;
  text-align: center;
}

.subIntro .paraText {
  font-size: 30px;
  font-weight: bold;
  color: brown;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subIntro .linkText {
  font-size: 30px;
  font-weight: bold;
}

.subIntro .subIntroImages {
  height: 300px;
  width: 600px;
  margin: 0px 0px 0px 400px;
}

.subIntro .subContent {
  font-size: 30px;
  color: brown;
}

.linkText a {
  text-decoration: none;
}

.mainDiv {
  margin-left: 220px;
  margin-right: 220px;
}

#heading {
  color: red;
  text-align: center;
  border: 1px solid blue;
  height: 100px;
  font-size: 100px;
  font-weight: bolder;
  background-color: #3be093;
}
